.nav-buttons button {
    background: transparent;
    border: none;
    border-bottom: var(--clr-primary-100) 1px solid;
    border-radius: 0;
    padding: 8px 16px;
    color: var(--clr-primary-100);
    cursor: pointer;
    text-align: left;
    font-size: 18px;
}
   
.nav-buttons button:hover {
    border-bottom: 1px solid #a3a8fa;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side-panel button:hover {
    background: #000 !important;
    color: #a3a8fa !important;
}

.actionButton {
    font-size: 1.1rem;
}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
}
  
.text-center {
    text-align: center;
}

.dash {
    font-size: 3em;
    font-weight: 100;
}

section {
    padding: 40px 40px 0 40px;
}

strong {
    font-weight: 800;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: block;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

@media screen and (min-width: 1201px) {
    .col {
        width: 50%;
        padding: 0.3rem 2rem;
        display: inline-block;
        vertical-align: top;
    }

    .col-1 {
        width: 35%;
        padding: 0.3rem;
        display: inline-block;
    }

    .col-2 {
        width: 65%;
        padding: 0.3rem 2rem;
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
    .col {
        width: 100%;
        padding: 0.3rem 2rem;
        display:inline-block;
        vertical-align: top;
    }

    .col-1 {
        width: 100%;
        padding: 0.3rem 2rem;
        display: inline-block;
    }

    .col-2 {
        width: 100%;
        padding: 0.3rem 2rem;
        display: inline-block;
    }
}

#nutshell {
    margin-top: 20px;
}

#nutshell h3 {
    font-size: 1.5rem !important;
}
  
#nutshell p {
    margin-bottom: 22px;
}
  
#nutshell span {
    font-weight: 800;
    color: #000;
    background: #eee;
    padding: 3px 6px;
    border-radius: 4px;
}

.btn-link:hover {
    background: #a3a8fa;
    padding: 8px 16px;
    border-radius: 4px;
    color: #333;
}

.btn-link {
    background: #000;
    padding: 8px 16px;
    border: 1px solid #a3a8fa;
    border-radius: 4px;
    color: #a3a8fa;
}

.institutions img {
    width: 220px;
    margin: 2rem auto;
}

.about-container {
    display: flex;
    flex: 1;
    height: calc(100vh - 64px);
    overflow: hidden;
}

.about-container p, .about-container ul, .about-container ol {
    /*font-size: var(--fs-100);*/
    font-size: 1.2rem;
}
  
.about-wrapper {
    flex: 1;
    min-height: 0;
    overflow-y: scroll;
}
  
.side-panel {
    width: 30%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    background: rgba(18, 18, 18, 0.9);
    color: var(--clr-primary-100);
}
  
.side-panel-content {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 10px 30px 0;
    box-sizing: border-box;
}
  
.side-panel h2 {
    /*font-size: var(--fs-300);*/
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: var(--size-400);
}
  
.side-panel h3 {
    margin-bottom: var(--size-300);
}
  
.side-panel h3,
.side-panel strong {
    /*font-size: var(--fs-200);*/
    font-size: 1.7rem;
    font-weight: bold;
}
  
.side-panel p {
    font-size: 1.1rem;
    margin-bottom: var(--size-400);
}

#about-container-main {
    width: 100%;
    text-align: left;
    color: white;
    background: #121212;
    padding: 0 40px 50px 40px;
}

.about-container a {
    color: #a3a8fa;
    font-weight: 800;
}

#about-container-main p {
    font-size: 1.1rem;
}

#about-container-main h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    padding-top: 30px;
    margin-bottom: 30px;
}

#about-container-main h3 {
    text-align: left;
    font-size: 1.7em;
    font-weight: 800;
    padding-top: 20px;
    margin-bottom: 20px;
}
  
#about-container-main h4 {
    font-size: 1.3em;
    font-weight: 800;
    padding-top: 20px;
    margin-bottom: 20px;  
}

#about-container-main p img {
    height: auto;
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#about-container-main p, #about-container-main ul {
    margin-bottom: 24px;
  }
  
#about-container-main ul, ol {
    padding-left: 50px;
}
  
#about-container-main ul li span, ol li span {
    font-weight: 800;
    font-style: italic;
}

#about-container-main li {
    margin-bottom: 16px;
    font-size: 1.1rem;
}

/* Specifically for Team page */
.univ-heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size:1.5rem;
    text-align: center !important;
}
  
.member-card {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 200px;
    vertical-align: top;
}
  
.member-card h4 {
    padding-top: 10px;
    margin-bottom: 10px !important;
}
  
.member-card a, .partner-col ul li a, .partner-col p a {
    font-weight: 800;
    color: #a3a8fa;
}

.member-card img {
    height: 190px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
  
#partner_section {
    display: block;
    padding: 40px 40px 0 40px;
    text-align: left;
}
  
.partner-col {
    display: inline-block;
    padding: 20px 40px 40px 40px;
    vertical-align: top;
}
  
.partner-col .bold {
    font-weight: 600;
}
  
.partner-col ul {
    padding-left: 30px;
}

button.closeButton {
    background: #FF4B3E;
    border: none;
    border-radius: 3px;
    color: white;
}

button.closeButton:hover {
    background: #FF4B3E !important;
    border: none;
    border-radius: 3px !important;
    color: white !important;
    cursor: pointer;
}