.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.75rem;
}

.vegCloseButton {
  background-color: var(--clr-primary-error);
  border: none;
  border-radius: 2px;
  color: var(--clr-primary-100);
  font-size: var(--fs-300);
  cursor: pointer;
}

.vegCoverSelector {
  display: flex;
  align-items: center;
  width: auto;
  min-width: 180px;
  gap: 1.25rem;
}

.dateSelector {
  display: flex;
  align-items: center;
  width: auto;
  min-width: 180px;
  gap: 1.25rem;
}

.option-align {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 0.25rem;
}

.option-align label {
  display: block;
  white-space: nowrap;
  font-size: .875rem;
}

.option-align select {
  width: 120px;
  padding: .25rem;
  font-size: 1rem;
}