{
    email brandon.xu@wsu.edu
}

unstable.wepp.cloud {

    # Backend server requests (specific to the following paths)
    @backend path /api/* /admin/* /silk/*
    handle @backend {
        reverse_proxy server:8000
    }

    # Frontend requests - static file server
    handle {
        root * /app/client/build
        file_server
        # try_files {path} /index.html
    }

    ## Enable HSTS
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}