[Unit]
Description=Utility Watershed Analystics Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/workdir/utility-watershed-analytics
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=0
Restart=always
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target