.small-screen-notice {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background: #0f172a;
  z-index: 9999;
}

.small-screen-title {
  font-size: 1.5rem;
  padding-bottom: 8px;
  color: var(--clr-primary-200);
}

.small-screen-body {
  color: var(--clr-primary-100);
}
