.team-container {
  display: flex;
  flex: 1;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-buttons button {
  background: transparent;
  border: none;
  border-bottom: var(--clr-primary-100) 1px solid;
  border-radius: 0;
  padding: 8px 16px;
  color: var(--clr-primary-100);
  cursor: pointer;
  text-align: left;
  font-size: 18px;
}

.nav-buttons button:hover {
  border-bottom: 1px solid #a3a8fa;
}

.team-wrapper {
  flex: 1;
  min-height: 0;
  overflow-y: scroll;
}
  
.side-panel {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  background: rgba(18, 18, 18, 0.9);
  color: var(--clr-primary-100);
}
  
.side-panel-content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 10px 30px 0;
  box-sizing: border-box;
}
  
.side-panel h2 {
  font-size: var(--fs-300);
  font-weight: bold;
  margin-bottom: var(--size-400);
}
  
.side-panel h3 {
  margin-bottom: var(--size-300);
}
  
.side-panel h3,
.side-panel strong {
  font-size: var(--fs-200);
  font-weight: bold;
}
  
.side-panel p {
  font-size: var(--fs-200);
  margin-bottom: var(--size-400);
}

#team-container-main {
  width: 100%;
  text-align: center;
  color: white;
  background: #333;
}
  
#team-container-main section {
  padding: 40px 40px 0 40px;
}
  
#team-container-main img {
  height: 190px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
  
.univ-heading {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size:larger;
  text-align: center;
}
  
.member-card {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 200px;
  vertical-align: top;
}
  
.member-card h4 {
  padding-top: 10px;
}
  
.member-card a, .partner-col ul li a, .partner-col p a {
  font-weight: 800;
  color: #a3a8fa;
}
  
#partner_section {
  display:block;
  padding: 40px 40px 0 40px;
  text-align: left;
}
  
.partner-col {
  display: inline-block;
  padding: 20px 40px 40px 40px;
  vertical-align: top;
}
  
.partner-col .bold {
  font-weight: 800;
}
  
.partner-col ul {
  padding-left: 30px;
}
  