.legend-button {
    width: 40px;
    height: 40px;
    background-color: #121212;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border-radius: 0;
}

.legend-icon {
    font-size: 20px;
    color: white;
}

.legend-modal {
    min-width: 330px;
}