.home-container {
  display: flex;
  flex: 1;
  transition: all 0.3s ease-in-out;
}

.map-wrapper {
  flex: 1;
  min-height: 0;
}

.map-wrapper.map-shrink {
  width: 100%;
}

.side-panel {
  width: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  background: rgb(18, 18, 18, 0.9);
  color: aliceblue;
}

.side-panel-content {
 padding: 10px 30px 30px 30px;
}

.side-panel h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.side-panel h3, 
.side-panel strong {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.side-panel p {
  font-size: 20px;
  margin-bottom: 15px;
}

.side-panel.open {
  width: 30%;
}