/*Map Css*/
.map-container {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

/*Legend Control CSS*/
.legend-modal {
  position: absolute;
  top: 10px;
  left: 60px;
  background: rgba(0, 0, 0, 0.8);
  color: var(--clr-primary-100);
  padding: var(--size-300);
  border-radius: var(--size-200);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.legend-content div {
  display: flex;
  align-items: center;
  font-size: var(--fs-100);
}

.lengend-text {
  font-weight: bold;
}

.watershed-container {
  padding: var(--size-300);
}

.watershed-left div {
  margin-right: var(--size-300);
}

.watershed-right {
  margin-left: var(--size-500);
  gap: var(--size-300);
}

/*Search Control CSS*/
.search-modal {
  position: absolute;
  top: 1px;
  right: 50px;
  background: rgba(0, 0, 0, 0.8);
  color: var(--clr-primary-100);
  padding: var(--size-300);
  border-radius: var(--size-200);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.search-modal div {
  display: flex;
  align-items: center;
  font-size: var(--size-400);
}

.search-content {
  gap: var(--size-300);
}

.search-modal-field input {
  border: 1px solid var(--clr-primary-100);
  border-radius: var(--size-100);
  height: var(--size-600);
  outline: none;
}

.search-modal-button 
{
  font-size: var(--size-300);
  transition-duration: 0.4s;
  background-color: var(--clr-primary-100);
}

.search-modal-button:hover {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-500);
}